.container {
  width: 700px;
  margin: 80 auto;
}

@media (max-width:960px) {
  .container{
    width:700px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px ;
  }
}

.container h2 {
  font-size: 30px;
  font-family:Lato, sans-serif;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 7px;
  color: black;
  line-height: 30px;
}