.footer {
  background-color: #6A2E35;
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-bottom: 0px;
}

.footer a {
  color: white;
  font-size: 30px;
}

.footer p {
  font-size: 14px;
  font-family: calibri;
}
